# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
env/
venv/
fix_env.py 
fix_origin.py 
fix_package_name.py 
fix_screenshot.py 
fix_tsconfig.py 
fix-run-dev.py 
github_create.py 
github_pull.py 
github_push.py 
github_sync.py 
github_ui.py 
github_update.py